/* ************************* */
:root {


	/* *************** */
	--banner_image:url('images/banner_image.jpg') no-repeat center center;
	--background_image: url('images/Computer.gif');

	/* Colour Palette  */
	/* *************** */
	--colour:  #000000; 
	--accent_color:#000000; 
	--body_accent_color:#000000;
 
	--text_colour:#FFFFFF; 


	/* links & buttons */
	/* *************** */
	--buttons_text_colour:#FFFFFF; 
	--buttons_background_color:#202A44;

	--hover_text_colour:#FFFFFF; 
	--hover_background_color:#000000;

	--active_text_colour:#FFFFFF; 
	--active_background_color:#000000;


	/* Body */
	/* *************** */
	--Body_font_family: Arial, sans-serif;

	--corner_rounding: 25px ;
	--border-style: solid;	
	--border-width: 3px;



}


