/* ************************* */
:root {


	/* *************** */
	--banner_image:url('images/banner_image.jpg') no-repeat center center;
	--background_image: url('images/Computer.gif');

	/* Colour Palette  */
	/* *************** */
	--colour:  #f2e0bf; 
	--accent_color: #FFFFFF; 
	--body_accent_color: Black;
 
	--text_colour: #FFFFFF; 


	/* links & buttons */
	/* *************** */
	--buttons_text_colour:  #FFFFFF; 
	--buttons_background_color:#202A44;

	--hover_text_colour:  #FFFFFF; 
	--hover_background_color:BLACK;

	--active_text_colour:  #FFFFFF; 
	--active_background_color: gray;


	/* Body */
	/* *************** */
	--Body_font_family: Arial, sans-serif;

	--corner_rounding: 25px ;
	--border-style: solid;	
	--border-width: 3px;



}


